<!-- Portfolio Modal Bambu Facturas -->
<div class="portfolio-modal modal fade" id="bambuFacturasModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Bambú Facturas</h2>
                        <p class="item-intro text-muted">{{ 'Business software for SMEs and self-employed 100% Cloud'|trans }}.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/bambu-facturas-exp-preview.png" alt="">
                        <p>{{ '<strong>Android mobile app designed for self-employed workers and freelancers</strong>, where they can manage their business from their pocket with only one click. Facturas Bambú is a simple and intuitive application, where the users can send budgets instantly, create own invoices in different formats, enter their clients data in the agenda and monitor their whole business without any additional administration costs or staff.'|trans|raw }}</p>
                        <p>{{ '<strong>Free App</strong>, in only one year in the Android Play Store has achieved more than 6000 downloads. Many users are requesting a Premium version that will be released soon with numerous improvements and more possibilities.'|trans|raw }}</p>
                        <a type="button" target="_blank" class="btn btn-success" href="https://play.google.com/store/apps/details?id=es.twobi.bambulite&hl={{ app.locale }}"><i class="fa fa-android"></i> {{ 'Android App in Google Play'|trans }}</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> {{ 'Close Project'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
