<!-- Portfolio Modal Bambu Cloud -->
<div class="portfolio-modal modal fade" id="bambuModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Bambú Cloud</h2>
                        <p class="item-intro text-muted">{{ 'Business software for SMEs and self-employers 100% Cloud'|trans }}.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/bambu-preview.png" alt="">
                        <p><strong>Bambú Cloud</strong> {{ 'lets you manage your business from everywhere and with any device like PCs, tablets or smartphones, monitoring purchases, sales, clients, invoices and connecting this data to the main management applications of your fiscal consultant like Sage, A3, Geyce, and so on. Avoid journeys and keep your accounting up to date.'|trans }}</p>
                        <p>{{ '<strong>Finalist project in the XXI "la Caixa" Entrepeneur Prizes</strong>, it obtains more than 3000 registered users in only one year and makes itself space inside the world of business management. Most downloaded application in the business sector in the Softonic platform and with more than 1100 users in the Chrome Web Store.'|trans|raw }}</p>
                        <p>{{ 'In 2bi, day by day, a team of developers works in order to improve the service and the tool itself, where step by step we gain the user confidence.'|trans }}</p>
                        <a type="button" target="_blank" class="btn btn-primary" href="http://www.bambucloud.net"><i class="fa fa-external-link-square"></i> www.bambucloud.net</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> {{ 'Close Project'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
