<!-- Portfolio Modal Mi Cuaderno de Campo -->
<div class="portfolio-modal modal fade" id="miCuadernoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Mi Cuaderno de Campo</h2>
                        <p class="item-intro text-muted">{{ 'Pioneer and market leader tool to manage farm register'|trans }}.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/mi-cuaderno-preview.jpg" alt="">
                        <p>{{ '<strong>The first farm register in the Cloud for agricultural engineers</strong>, that makes the management of multiple fields of the farm register easier, according to the regulations as established in the Royal Decree 1311/2012. It provides the essential tools to manage the production of any conventional or organic cultivation, in a fast, easy and safe way.'|trans|raw }}</p>
                        <p>Mi Cuaderno de Campo, {{ 'only one year in the market, is the 2013 best project winner of the AJE Awards, and becoming a reference in the agri-food industry and market leader in the management of farm registers. More than 20000 farmers, important agricultural cooperatives and companies already trust in us thanks to the collaboration of organizations and agreements, such as professional associations, EOI, IBM or SAP.'|trans }}</p>
                        <p>{{ '<strong>Soon, in 2015, we will launch a the new version, "Mi Cuaderno de Campo 2.0"</strong>, aiming to make a shift towards a smarter tool and to get established at the forefront of innovation and the market.'|trans|raw }}</p>
                        <a type="button" target="_blank" class="btn btn-success" href="http://www.micuadernodecampo.es"><i class="fa fa-external-link-square"></i> www.micuadernodecampo.es</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> {{ 'Close Project'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>