<!-- Portfolio Modal Mi Cuaderno de Campo -->
<div class="portfolio-modal modal fade" id="miCuadernoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Mi Cuaderno de Campo</h2>
                        <p class="item-intro text-muted">{{ 'Pioneer and market leader tool to manage agricultural concern diaries'|trans }}.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/mi-cuaderno-preview.jpg" alt="">
                        <p>{{ '<strong>The first field diary in the cloud for the agricultural engineer</strong>, that makes the management of multiple field diaries easier following the current european rules. It provides the essential tools to manage the production of any conventional or organic cultivation, in a fast, easy and safe way.'|trans|raw }}</p>
                        <p>Mi Cuaderno de Campo, {{ 'in only one year, has been the 2013 best project winner in the AJE Prizes, it becomes a reference in the agri-food industry and leads the market in field diaries management. More than 20000 farmers, important agricultural cooperatives and companies already trust in us thanks to great organizations and agreements like professional associations, EOI, IBM or SAP.'|trans }}</p>
                        <p>{{ '<strong>Soon, in 2015, we will launch the new version, "Mi Cuaderno de Campo 2.0"</strong> that tries to take a new turn, developing smarter tool and becoming strong at the head of innovation and the market.'|trans|raw }}</p>
                        <a type="button" target="_blank" class="btn btn-success" href="http://www.micuadernodecampo.es"><i class="fa fa-external-link-square"></i> www.micuadernodecampo.es</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> {{ 'Close Project'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>