<!-- Portfolio Modal Mi Cuaderno de Campo -->
<div class="portfolio-modal modal fade" id="miCuadernoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Mi Cuaderno de Campo</h2>
                        <p class="item-intro text-muted">{{ 'Business software for SMEs and self-employers 100% Cloud'|trans }}.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/mi-cuaderno-preview.jpg" alt="">
                        <p>{{ 'Android mobile app assigned to self-employed workers and freelancers, where they can manage their business from their pocket with only one click. Facturas Bambú is an easy and intuitive application, where the self-employed worker can send budgets instantly, create their own invoices with different formats, enter their clients in the address book and monitor their whole business without the need for additional administration costs or staff.'|trans }}</p>
                        <p>{{ 'Finalist project in the XXI "la Caixa" Entrepeneur Prizes, it obtains more than 3000 registered users in only one year and makes itself space inside the world of business management. Most downloaded application in the business sector in the Softonic platform and with more than 1100 users in the Chrome Web Store.'|trans }}</p>
                        <p class="text-justify">{{ 'In 2bi, day by day a team of developers works in order to improve the service and the tool itself, where step by step we gain the user confidence.'|trans }}</p>
                        <a type="button" target="_blank" class="btn btn-success" href="https://play.google.com/store/apps/details?id=es.twobi.bambulite&hl={{ app.locale }}"><i class="fa fa-android"></i> {{ 'Android App in Google Play'|trans }}</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> {{ 'Close Project'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>