<!-- Privacy Modal -->
<div class="portfolio-modal modal fade" id="privacy" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>{{ 'Privacy Policy'|trans }}</h2>
                        <p class="item-intro text-muted"></p>
                        <img class="img-responsive img-centered" src="img/portfolio/privacy.jpg" alt="{{ 'Privacy Policy'|trans }}">
                        <p>{{ '2bi Smart IT, S.L. informs you that your email address, as well as the rest of the personal data of your vcard that you send to us, will be automatically processed in our files in order to manage the contact list of our company and send professional and personal newsletters.'|trans }}</p>
                        <p>{{ 'We understand that we obtained your consent unless you write to us to revoke one of the processes previously indicated.'|trans }}</p>
                        <p>{{ "In any time you will be able to exercise one's right to access, correct, cancel and oppose in the terms established in the 15/1999 spanish constitutional law. The responsible of processing is 2bi Smart IT, S.L."|trans }}</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> {{ 'Close'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>