<!-- Portfolio Modal RDI -->
<div class="portfolio-modal modal fade" id="RDIModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>{{ 'Our RDI'|trans }}</h2>
                        <p class="item-intro text-muted">2bi Smart. {{ 'Research, Development and Innovation'|trans }}.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/horizon-preview.jpg" alt="Horizon 2020">
                        <div class="text-justify">
                            <h3>{{ 'Our RDI Projects'|trans }}</h3>
                            <ul>
                                <li>{{ 'Own development of Bambú Cloud'|trans }}.</li>
                                <li>{{ 'Own development of Bambú Lite Mobile App'|trans }}.</li>
                                <li>{{ 'Mi Cuaderno de Campo development'|trans }}.</li>
                                <li>{{ 'Young Entrepeneurs Enisa Project'|trans }}.</li>
                                <li><strong>{{ 'Several european projects in the next calls'|trans }}:</strong></li>
                                <ul>
                                    <li>{{ 'European Commission Horizon 2020 Program'|trans }}.</li>
                                    <li>{{ 'EUROSTARS Program, European Commission and EUREKA joint'|trans }}.</li>
                                    <li>{{ 'EUREKA Program and its specialized clusters%:% CELTIC, ITEA, MEDEA'|trans }}.</li>
                                    <li>{{ 'Joint Technology Initiatives ENIAC, ARTEMIS'|trans }}.</li>
                                    <li>{{ 'INTERREG Program'|trans }}.</li>
                                    <li>{{ 'Competitiveness and Innovation Program, CIP, of the European Commission'|trans }}.</li>
                                    <li>{{ 'Iberoeka Program of CDTI'|trans }}Programa Iberoeka, del CDTI.</li>
                                    <li>{{ 'Innoempresa, Innpacto, Avanza, Neotec and more programs of the Ministry of Economy and Employment and of the Ministry of Industry the Spanish Goverment'|trans }}.</li>
                                    <li>{{ 'Fund Technological Program, managed by CDTI'|trans }}.</li>
                                </ul>
                            </ul>
                            <h3>{{ 'We offer'|trans }}</h3>
                            <ul>
                                <li>{{ 'Facilitate the access of funding sources of RDI'|trans }}.</li>
                                <li>{{ 'Promote the involvement of spanish companies, specially SMEs, in national and international programs of RDI financing'|trans }}.</li>
                                <li>{{ 'Encourage the consortiums formation to collaboration projects development'|trans }}.</li>
                                <li>{{ 'Technical advice'|trans }}.</li>
                                <li>{{ 'Support and coordination with othe departaments and services'|trans }}.</li>
                                <li>{{ 'Design and development of new products'|trans }}.</li>
                            </ul>
                        </div>
                        <br>
                        <a type="button" target="_blank" class="btn btn-primary" href="http://ec.europa.eu/programmes/horizon2020/"><i class="fa fa-external-link-square"></i> Horizon 2020</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> {{ 'Close'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
