<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'About us'|trans }}</h2>
                <h3 class="section-subheading text-muted">{{ 'We invite you to know our history'|trans }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/beginning.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2010</h4>
                                <h4 class="subheading">{{ 'Our Beginnings'|trans }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{ '<strong>2bi Smart</strong> is born under the work and experience of Innoproyect consultancy firm, responsible for looking for funding and advice for companies in RDI projects, where, thanks to their success, some opportunities start to grow about developing innovative software. <strong>2bi Smart</strong> is composed of a team of experienced developers and great human resources, with the ones start to develope innovation.'|trans|raw }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/developing.jpg" alt="Development">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2011-2012</h4>
                                <h4 class="subheading">{{ 'First Developments'|trans }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{ '<strong>2bi Smart</strong> launches its first developments in the Cloud aimed at business sector with applications, like ERPs and CRMs, that make the companies monitoring easier with a great success obtaining a huge number of customers inside and outside Spain, especially in Latin America.'|trans|raw }}</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/ue.jpg" alt="European Union">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2012-2013</h4>
                                <h4 class="subheading">{{ 'European Calls'|trans }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{ '<strong>2bi Smart</strong> becomes strong in the IT business and starts to develope huge projects in european calls. At the same time it extends its product catalogue to the national market.'|trans|raw }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/opportunity.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2013-{{ 'Present'|trans }}</h4>
                                <h4 class="subheading">{{ 'A Business Opportunity'|trans }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{ 'A business opportunity is born for the agri-food industry where <strong>2bi Smart</strong> starts to specialize and lead projects under a great initiative, based on regulations and business alliances in different regions.'|trans|raw }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            {{ '<h4>Be Part<br>Of Our<br>Story!</h4>'|trans|raw }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>