<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'Contact Us'|trans }}</h2>
                <h3 class="section-subheading text-muted">{{ 'Please fill the next contact form and we answer you as soon as possible'|trans }}.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{{ 'Your Name'|trans }} *" id="name" required data-validation-required-message="{{ 'Please enter your name'|trans }}.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="{{ 'Your Email'|trans }} *" id="email" required data-validation-required-message="{{ 'Please enter your email address'|trans }}.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="{{ 'Your Phone'|trans }} *" id="phone" required data-validation-required-message="{{ 'Please enter your phone number'|trans }}.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="{{ 'Your Message'|trans }} *" id="message" required data-validation-required-message="{{ 'Please enter a message'|trans }}."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">{{ 'Send Message'|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="address">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'Where Are We?'|trans }}</h2>
                <h3 class="section-subheading text-muted">{{ 'We show you where you can found us in the next map'|trans }}.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-center">
                <h4>P.º de las Delicias 30, 7º<br>28045 Madrid<br><a href="tel:+34917886616">+34 917 886 616</a></h4>
                <a class="page-scroll btn btn-primary btn-xl" href="#map" type="button" id="madrid">{{ 'Show in the map'|trans }}</a>
            </div>
            <div class="col-sm-6 text-center">
                <div class="visible-xs-block" style="height:2em"></div>
                <h4>C/Marqués de Molins, 13, 1º IZQ.<br>02001 Albacete<br><a href="tel:+34967603057">+34 967 603 057</a></h4>
                <a class="page-scroll btn btn-primary btn-xl" href="#map" type="button" id="clm">{{ 'Show in the map'|trans }}</a>
            </div>
        </div>
    </div>
</section>
<section id="map" style="padding:0">
    <div class="container-fluid" style="padding:0">
        <div class="row">
            <div class="col-lg-12">
                <div id="map_canvas" class="map_canvas"></div>
            </div>
        </div>
    </div>
</section>
