<!-- Investors Section -->
<section id="investors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'Investors'|trans }}</h2>
                <h3 class="section-subheading text-muted">{{ 'How could you be part of our story?'|trans }}</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ 'Our Company'|trans }}</h4>
                <p>{{ 'We are a young, responsible, dynamic and very innovative company with several interesting projects in the market, with a good response from users we try to strengthen in the next years'|trans }}.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ 'Financing'|trans }}</h4>
                <p>{{ 'We are in constant evolution and we have another interesting projects that we will launch, as we obtain more resources. So far we have been based on european calls in order to search for financing'|trans }}.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ 'Open To Collaborate'|trans }}</h4>
                <p>{{ 'We are open to collaborate with investment funds or private funding rounds, that let us generate new business opportunities, expansion of the current ones, attraction of new customers or strengthen any of our products, offering a boost and support on our activity'|trans }}.</p>
            </div>
            <a href="#contact" class="page-scroll btn btn-xl">{{ 'Contact With Us'|trans }}</a>
        </div>
    </div>
</section>