<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'Services'|trans }}</h2>
                <h3 class="section-subheading text-muted">{{ 'We provide the following services'|trans }}</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ 'ERP and CRM experts'|trans }}</h4>
                <p class="text-muted">{{ 'We are specialists in vertical developments and consulting for every business sector, we adapt technology to your company needs, looking for the saving and the performance of your activity business, contributing with innovation and low cost'|trans }}.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ 'App Developers'|trans }}</h4>
                <p class="text-muted">{{ 'We develop iOS and Android mobile apps, from concept creation, interface, usability to deployment'|trans }}.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ 'Web Development'|trans }}</h4>
                <p class="text-muted">{{ 'Design and consulting in web development, custom-made web programming, online stores and e-commerce platforms'|trans }}.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ 'RDI'|trans }}</h4>
                <p class="text-muted">{{ 'Our RDI department takes development and technical innovation to any sector. We are experts at developing, making, presenting and searching for associates for national and european RDI projects'|trans }}.</p>
            </div>
        </div>
    </div>
</section>
