<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'Founders'|trans }}</h2>
                <h3 class="section-subheading text-muted">{{ "Here we are! Do you want to know us?"|trans }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="team-member">
                    <img src="img/team/kiko.jpg" class="img-responsive img-circle" alt="Francisco Pardo de Miguel">
                    <h4>Francisco Pardo de Miguel</h4>
                    <p class="text-muted">CEO. {{ 'Strategy and Business'|trans }}.</p>
                    <ul class="list-inline social-buttons">
                        <!--
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        -->
                        <li>
                            <a href="https://www.linkedin.com/in/franciscopdemiguel"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-member">
                    <img src="img/team/david.jpg" class="img-responsive img-circle" alt="David Pardo Chumillas">
                    <h4>David Pardo Chumillas</h4>
                    <p class="text-muted">CEO. {{ 'Innovation and Projects'|trans }}.</p>
                    <ul class="list-inline social-buttons">
                        <!--
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        -->
                        <li>
                            <a href="https://www.linkedin.com/pub/david-pardo-chumillas/22/900/528"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#contact" class="page-scroll btn btn-xl">{{ 'We will be delighted<br>to speak with you'|trans|raw }}</a>
            </div>
        </div>
    </div>
</section>